
# Playwright
node_modules/
/test-results/
/playwright-report/
/allure-report/
/allure-results/
/scripts/
/blob-report/
/playwright/.cache/
/playwright/.auth/
README-readonly.md
src/helpers/users.json
